[% INCLUDE Display/header.tt 
    pagetitle = 'Dashboard'
    pagename = p.accountname
    ACTIVE = '' 
%]

<div class="container">
    <div class="col-md-1"></div>
    <form class="form-horizontal" name="dashboard_form" id="dashboard_form" method="post" role="form">
        <p>Welcome [% p.accountname %]</p>
    </form>
    <div class="col-md-1"></div>
</div>

[% INCLUDE Display/footer.tt %]